@tailwind base;
@tailwind components;
@tailwind utilities;

/* .explore:hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: translate(-25px,-25px);
    background-color: white;
    opacity: .1;
    border-radius: 50%;
} */